In [4]:
from states_covert import states_convert
import pandas as pd
import numpy as np
#import sqlalchemy
#from sqlalchemy.ext.automap import automap_base
#from sqlalchemy.orm import Session
#from sqlalchemy import create_engine
#from flask_sqlalchemy import SQLAlchemy

from flask_pymongo import PyMongo
from flask import Flask, render_template
from bson.json_util import dumps
app = Flask(__name__)

# Database Setup
#app.config["MONGO_URI"] = "mongodb://localhost:27017/pets"
app.config["MONGO_URI"] = "mongodb+srv://k9sam:1234@petfinder-qbryn.mongodb.net/pets"

mongo = PyMongo(app)

# variables for collections in the "pets" DB
db_dogData = mongo.db.dogs_by_page

In [5]:
df_dogData = pd.DataFrame(list(db_dogData.find()))
US_state_info = df_dogData[df_dogData["contact_country"] == "US"].groupby("contact_state")["_id"].count()
US_state_info

contact_state
AK       3
AL     159
AR      71
AZ     348
CA    1218
CO     261
CT     118
DC      52
DE      16
FL     579
GA     469
GU       3
HI       9
IA      72
ID      39
IL     395
IN     209
KS     131
KY     213
LA      75
MA     115
MD     138
ME      24
MI     209
MN     191
MO     301
MS      90
MT      11
NC     253
ND      13
NE      36
NH      30
NJ     185
NM     101
NV     131
NY     330
OH     325
OK     204
OR     123
PA     229
PR       5
RI      60
SC     192
SD      10
TN     232
TX    1263
UT      68
VA     175
VT      26
WA     175
WI     194
WV      40
WY      24
Name: _id, dtype: int64

In [9]:
state_names = list(US_state_info.keys())
state_count = list(US_state_info)
state_names

['AK',
 'AL',
 'AR',
 'AZ',
 'CA',
 'CO',
 'CT',
 'DC',
 'DE',
 'FL',
 'GA',
 'GU',
 'HI',
 'IA',
 'ID',
 'IL',
 'IN',
 'KS',
 'KY',
 'LA',
 'MA',
 'MD',
 'ME',
 'MI',
 'MN',
 'MO',
 'MS',
 'MT',
 'NC',
 'ND',
 'NE',
 'NH',
 'NJ',
 'NM',
 'NV',
 'NY',
 'OH',
 'OK',
 'OR',
 'PA',
 'PR',
 'RI',
 'SC',
 'SD',
 'TN',
 'TX',
 'UT',
 'VA',
 'VT',
 'WA',
 'WI',
 'WV',
 'WY']

In [10]:
state_name_converted = []

for state in state_names:
    state_name_converted.append(states_convert[state])

state_name_converted

['Alaska',
 'Alabama',
 'Arkansas',
 'Arizona',
 'California',
 'Colorado',
 'Connecticut',
 'District of Columbia',
 'Delaware',
 'Florida',
 'Georgia',
 'Guam',
 'Hawaii',
 'Iowa',
 'Idaho',
 'Illinois',
 'Indiana',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Massachusetts',
 'Maryland',
 'Maine',
 'Michigan',
 'Minnesota',
 'Missouri',
 'Mississippi',
 'Montana',
 'North Carolina',
 'North Dakota',
 'Nebraska',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'Nevada',
 'New York',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Puerto Rico',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Virginia',
 'Vermont',
 'Washington',
 'Wisconsin',
 'West Virginia',
 'Wyoming']

In [11]:
dog_population = {}

for i in range(len(state_names)):
    dog_population.update({state_name_converted[i]:state_count[i] })

dog_population

{'Alaska': 3,
 'Alabama': 159,
 'Arkansas': 71,
 'Arizona': 348,
 'California': 1218,
 'Colorado': 261,
 'Connecticut': 118,
 'District of Columbia': 52,
 'Delaware': 16,
 'Florida': 579,
 'Georgia': 469,
 'Guam': 3,
 'Hawaii': 9,
 'Iowa': 72,
 'Idaho': 39,
 'Illinois': 395,
 'Indiana': 209,
 'Kansas': 131,
 'Kentucky': 213,
 'Louisiana': 75,
 'Massachusetts': 115,
 'Maryland': 138,
 'Maine': 24,
 'Michigan': 209,
 'Minnesota': 191,
 'Missouri': 301,
 'Mississippi': 90,
 'Montana': 11,
 'North Carolina': 253,
 'North Dakota': 13,
 'Nebraska': 36,
 'New Hampshire': 30,
 'New Jersey': 185,
 'New Mexico': 101,
 'Nevada': 131,
 'New York': 330,
 'Ohio': 325,
 'Oklahoma': 204,
 'Oregon': 123,
 'Pennsylvania': 229,
 'Puerto Rico': 5,
 'Rhode Island': 60,
 'South Carolina': 192,
 'South Dakota': 10,
 'Tennessee': 232,
 'Texas': 1263,
 'Utah': 68,
 'Virginia': 175,
 'Vermont': 26,
 'Washington': 175,
 'Wisconsin': 194,
 'West Virginia': 40,
 'Wyoming': 24}

In [13]:
dog_population["Georgia"]

469